main {
    margin: 10px auto; /*使main居中*/
    max-width: 1200px;
}

/*搜索区*/
#search h1 {
    font-size: 1em;
    border-radius: 5px 5px 0 0;
    border: 1px solid #bababa;
    padding: 1%;
    margin: 0;
    background-color: #f9f9f9;
}

#search > div {
    padding: 1%;
    border: 1px solid #bababa;
    border-radius: 0 0 5px 5px;
    border-top: none;
    margin-top: 0;
}

/*标题搜索*/
#search #title-filter {
    margin: 0;
    background-color: white;
}

#search #title-filter input[type="text"] {
    display: block;
    margin: 1% 0 0 0;
    padding: 0.1% 0.5%;
    font-size: 1em;
    width: 80%;
    height: 2em;
    outline: none;
    border-radius: 5px;
    border: 1px solid #bababa;
}

/*内容搜索*/
#search #description-filter {
    margin: 2% 0 0 0;
    background-color: white;
}

#search #description-filter textarea {
    display: block;
    margin: 1% 0 0 0;
    padding: 0.5% 0.5%;
    width: 80%;
    height: 10em;
    resize: none;
    border-radius: 5px;
    border: 1px solid #bababa;
    outline: none;
}

/*按钮样式*/
#search button {
    outline: none;
    border: 1px solid transparent;
    background-color: #6fce6f;
    color: white;
    font-size: 1em;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 3px;
    margin: 1% 0 0 0;
}

#search button:hover {
    background-color: #6fd86f;
}

#search button:active {
    background: #57a957;
}

/*搜索结果*/
#result {
    margin-top: 10px;
}

#result h1 {
    font-size: 1em;
    border: 1px solid #bababa;
    border-radius: 5px 5px 0 0;
    padding: 1%;
    margin: 0;
    background-color: #f9f9f9;
}

.gallery {
    border: 1px solid #bababa;
    border-top: none;
    border-bottom: none;
    padding: 0;
    margin: 0;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}

.gallery figure {
    flex: 0 0 30%; /*设置固定的百分比宽度，分布一行三栏*/
    border-bottom: 1px solid #bababa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
}

/*图片容器，实现缩放图片长宽比例与占比不变*/
.photo-wrapper {
    flex: 0 0 30%;
    position: relative; /*方便img-wrapper的定位*/
    width: 30%;
    padding-bottom: 20%; /*通过父容器设定高度*/
}

/*img容器，控制img的大小*/
.photo-wrapper .img-wrapper {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.photo-wrapper .img-wrapper img {
    width: 100%;
    height: 100%;
}

.gallery figure figcaption {
    overflow: hidden;
    flex: 0 0 70%;
    margin: 0;
    padding: 0;
}

.gallery figure figcaption h2 {
    font-size: 1.5em;
}

.gallery figure figcaption p {
    font-size: 1em;
    line-height: 150%;
    display: -webkit-box;
    overflow: hidden;
    /*设置超出部分显示省略号*/
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.gallery figure:last-of-type {
    border-bottom: none;
}

/*页码*/
.page-number {
    margin: 0;
    padding: 1%;
    border: 1px solid #bababa;
    border-top: none;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

.page-number a {
    display: inline-block;
    margin: 0 1%;
    text-decoration: none;
    color: black;
}

/*媒体查询*/
@media (min-width: 769px) and (max-width: 1199px) {
    main {
        margin: 10px 10px;
    }

}

@media (min-width: 501px) and (max-width: 768px) {
    main {
        margin: 5px 2%;
    }

    /*调整搜索区的字体大小*/
    #search {
        font-size: 0.8em;
    }

    #search #title-filter input[type="text"] {
        width: 98%;
        font-size: 0.8em;
        height: 1.5em;
    }

    #search #description-filter textarea {
        width: 98%;
        font-size: 0.8em;
        height: 5em;
    }

    #result {
        margin-top: 5px;
    }

    /*调整图片比例*/
    .photo-wrapper {
        padding-bottom: 30%;
    }

    .gallery figure figcaption h2 {
        margin: 2% 0 0 0;
        padding: 0;
        font-size: 1em;
    }

    .gallery figure figcaption p {
        margin: 2% 0 0 0;
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {
    main {
        margin: 5px 2%;
    }

    #search {
        font-size: 0.8em;
    }

    #search #title-filter input[type="text"] {
        width: 98%;
        font-size: 0.8em;
        height: 1.5em;
    }

    #search #description-filter textarea {
        font-size: 0.8em;
        width: 98%;
        height: 5em;
    }

    #result {
        margin-top: 5px;
    }

    /*调整图片比例*/
    .photo-wrapper {
        padding-bottom: 30%;
    }

    .gallery figure figcaption {
        padding: 1%;
    }

    .gallery figure figcaption h2 {
        font-size: 1em;
        margin: 0;
        padding: 0;
    }

    .gallery figure figcaption p {
        font-size: 0.8em;
        margin: 0;
        -webkit-line-clamp: 3; /*调整显示的行数*/
    }
}