main {
    margin: 10px auto; /*使main居中*/
    max-width: 1200px;
}

main h1 {
    font-size: 1em;
    border-radius: 5px 5px 0 0;
    border: 1px solid #bababa;
    padding: 1%;
    margin: 0;
    background-color: #f9f9f9;
}

/*图片容器，实现缩放图片长宽比例与占比不变*/
main #upload-photo {
    margin: 0 auto;
    width: 40%;
    padding-bottom: 30%; /*通过父容器设定高度*/
    position: relative; /*方便preview的定位*/
}

/*预览img容器，控制img的大小*/
main #upload-photo #preview {
    position: absolute;
    width: 100%;
    height: 100%;
}

main #upload-photo #preview img {
    width: 100%;
    height: 100%;
}

/*提示上传照片*/
main #upload-photo label {
    position: absolute;
    bottom: 40px;
    display: block;
    font-size: 1em;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
}

main #upload-photo label:hover {
    color: coral;
}

main form {
    margin: 0;
    padding: 2%;
    border: 1px solid #bababa;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

form label, form input, form textarea {
    display: block;
    margin: 10px 0;
    width: 100%;
    font-size: 1em;
}

form input {
    padding: 0.5%;
    outline: none;
    border: 1px solid #bababa;
    border-radius: 5px;
    height: 1em;
}

form textarea {
    padding: 0.5%;
    outline: none;
    border: 1px solid #bababa;
    border-radius: 5px;
    height: 10em;
    resize: none;
}

/*按钮样式*/
form button {
    margin: 10px 0 0 0;
    outline: none;
    border: 1px solid transparent;
    background-color: #6fce6f;
    color: white;
    font-size: 1em;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 3px;
    height: 2em;
}

form button:hover {
    background-color: #6fd86f;
}

form button:active {
    background: #57a957;
}

/*媒体查询*/
@media (min-width: 769px) and (max-width: 1199px) {
    main {
        margin: 10px 10px;
    }

}

@media (min-width: 501px) and (max-width: 768px) {
    main {
        margin-left: 20px;
        margin-right: 20px;
    }

    /*调整图片大小*/
    main #upload-photo {
        width: 50%;
        padding-bottom: 40%;
    }
}

@media (max-width: 500px) {
    main {
        margin-left: 20px;
        margin-right: 20px;
    }

    /*调整图片大小*/
    main #upload-photo {
        width: 60%;
        padding-bottom: 50%;
    }
}
